@model IEnumerable<Informatrix_Exam.Models.SettledBetHistory>

@{
    ViewBag.Title = "SettledBets";
}

<h2>SETTLED BET HISTORY</h2>
<table border="1">
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BetCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinPercent)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BetCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinPercent)
        </td>
    </tr>
}

</table>
