@model IEnumerable<Informatrix_Exam.Models.UnSettledBets>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnSettledBetsHighlyUnUsual</title>
</head>
<body>
    <h1>UNSETTLED BETS HIGHLY UNUSUAL</h1>
    <table border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Win)
            </th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Participant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Win)
                </td>
            </tr>
        }

    </table>
                        @Html.ActionLink("BACK", "InformatrixHome")

</body>
</html>
